* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(46, 46, 46);
  color: rgb(211, 211, 211);
}

/* .swiper-wrapper {
    transition-timing-function: linear !important;
} */
.spot {
  background: rgb(32, 32, 32);
}
.footer-data{
  background: rgb(32, 32, 32);
}
.scroll-header{
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 1.45);
  background: rgb(46, 46, 46);
}
.img-text {
  /* background-image: url("./assets/about2.jpg");
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased; */
}
